<div class="row">
  <div class="col-sm-3 img-wrapper" *ngFor="let video of videos">
          <vg-player >
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-playback-button></vg-playback-button>

              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

              <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

              <vg-track-selector></vg-track-selector>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>

              <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video #media
            target="_blank"
                  [vgMedia]="media"
                  [src]="video?.image"
                  id="singleVideo"
                  preload="auto"
                  vg-crossorigin="'anonymous'" vg-theme="config.theme">
            </video>
          </vg-player>

          <div class="offset-md-10 mt-1">
              <button type="button" class="btn btn-md"
                (click)="deletePhoto(video.id)"><i class="ft-trash-2"></i></button>
            </div>
  </div>
</div>
