img.img-thumbnail {
    height: 250px;
    width: 250px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px grey;
}

input[type=file] {
    color: transparent;
}

.not-approved {
  opacity: 0.2;
}

.img-wrapper {
  position: relative;
}

.img-text {
  position: absolute;
  bottom: 30%;
}